* {
    margin: 0;
    padding: 0;
}

/* Global Styling */

body {
    margin: 10px;
    background-color: hsl(185, 75%, 39%);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: -250px -500px, 700px 500px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    max-width: 1440px;
    min-width: 375px;
}

.profileContainer {
    border-radius: 30px;
    width: 500px;
    min-width: 265px;
    height: 500px;
    margin: 200px auto 0;
    background-color: #fff;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 10px 45px 0 rgba(0, 0, 0, 0.15);
}

.cardAvi {
    display: flex;
    justify-content: center;
}

.cardAvi img {
    border-radius: 50px;
    background-color: #fff;
    padding: 5px;
    margin-top: 140px;
}

.name {
    /* border: solid 1px red; */
    margin-top: 30px;
    text-align: center;
    line-height: 2em;
}

.statContainer {
    margin-top: 30px;
    justify-content: space-evenly;
    padding: 45px 0 25px 0;
}

.stat {
    line-height: 1.5em;
}

.metrics {
    font-size: small;
}

.location {
    font-size: 15px;
}

.nameSub, .fig {
    font-weight: 800;
}

span, .location, .metrics {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.statContainer {
    border-top: solid 1px hsl(0, 0%, 90%);
    display: flex;
}

.stat {
    text-align: center;
}

.attribution {
    display: inline-block;
    font-size: 0.8em;
    margin: 150px 0 0 535px;
}

@media only screen and (min-width: 1441px) and (max-width: 2888px) {
    
    body {
        background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
        background-repeat: no-repeat;
        background-clip: border-box;
        background-position: -200px -450px, 850px 500px;
    }
    
    .profileContainer {
        border-radius: 30px;
        width: 500px;
        height: 500px;
        margin: 200px 0 0 600px;
        background-color: #fff;
        background-image: url(images/bg-pattern-card.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .name {
        margin-top: 30px;
    }

    .statContainer {
        margin-top: 30px;
        justify-content: space-evenly;
        padding: 45px 0 25px 0;
    }
    
    .stat {
        line-height: 1.5em;
    }

    .metrics {
        font-size: small;
    }

    .location {
        font-size: 15px;
    }

    .attribution {
        /* border: 1px solid red; */
        display: inline-block;
        margin: 150px 0 0 665px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
        background-repeat: no-repeat;
        background-clip: border-box;
        background-size: 1000px 1000px;
        background-position: -750px -600px, 100px 450px;
    }

    .profileContainer {
        border-radius: 30px;
        width: 350px;
        height: 450px;
        margin-top: 200px;
        margin-left: 7px;
        margin-right: 0px;
        background-color: #fff;
        background-image: url(images/bg-pattern-card.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .cardAvi img {
        border-radius: 50px;
        background-color: #fff;
        padding: 5px;
        margin-top: 90px;
    }

    .statContainer {
        border-top: solid 1px hsl(0, 0%, 90%);
        display: flex;
        margin-top: ;
    }

    .attribution {
        /* border: 1px solid red; */
        display: inline-block;
        margin: 150px 0 0 15px;
    }
}